<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsm.dao.UserDao">
    <select id="selectUsers" resultType="User">
        select t.id, user_name
        from sys_user t
    </select>

    <insert id="insertUser">
        insert into sys_user
        (iphone_no)
        values
        (15251922665)
    </insert>

    <update id="updateUser">
        update sys_user
        set user_name = 'aaa'
        where id = 8
    </update>

    <select id="selectUserById" parameterType="String" resultType="User">
        select user_name
        from sys_user t
        where t.id = #{id}
    </select>
</mapper>